:root{
    --font-white:#ffffff;
    --font-black:#000000;
    --font-red:#ff0000;
    --tableline-black:#333333;
    --maroon:#800000;
    --leafgreen:#33cc66;
    --orangeyellow:#ff9900;
    --main-skyblue:#3399ff;
    --pale-skyblue:#99ccff;
    --deep-skyblue:#0066cc;

    --marineblue:#00bbdd;
    --brown:#996644;
    --yellow:#ffee00;
    --red:#ff0000;
    
    --nav-gray:#c6c0c6;
    --nav-hover-white:#fffff0;
    --hover-orange:#eeaa00;
    --back-gray:#d6d6d6;

    --lightgray:#dddddd;
    --superlightgray:#eeeeee;
}

.main-base{
    padding-left:60px;
}

.games{
    display:flex;
    flex-wrap:wrap;
}

.games-mas{
    width:200px;
    margin:10px 20px 10px 0;
    border:1px solid var(--lightgray);
}

.games-mas-td{
    background-color: var(--lightgray);
    padding:1px;
}

@media screen and (max-width: 480px) {
    .main-base{
        padding-left:0px;
    }
}